NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
NEXTAUTH_SECRET=
NEXTAUTH_URL=
ALLOWED_ORIGIN=
HELIUS_RPC_URL=
NEXT_PUBLIC_HELIUS_RPC_URL=
NEXT_PUBLIC_STREAMFLOW_CLUSTER=mainnet
STREAMFLOW_PROGRAM_ID=
PINATA_JWT=
PINATA_GATEWAY=
GITHUB_PAT=
CRON_SECRET=
ROBINHOOD_RPC_URL=https://rpc.mainnet.chain.robinhood.com
NEXT_PUBLIC_ENABLE_ROBINHOOD_LAUNCHES=false
